<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 	<title>Survey</title>
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    
</head>

<body>
    <div class="container">
        <div class="header">
                <script type ="text/javascript">
                    $(document).ready(function (){
                        var socket = io(); //1
                
                        socket.on('greeting', function (data) { //4
                            console.log("data.msg: "+data.msg); //5
                            socket.emit('thankyou', { msg: 'Thank you for connecting me! -Client' }); //6
                        });

                        socket.on('updated_message', function (data) { //4
                            console.log("data.msg: "+data.msg); //5
                            document.getElementById("results").innerHTML += `<p>This is a crummy message: ${data.msg}</p>`;
                        });

                        socket.on('random_number', function(data) {
                            console.log("data msg is "+data.msg);
                            document.getElementById("results").innerHTML += `<p>Your random number is: ${data.msg}</p>`;
                        });

                        function submitbutton(){
                            socket.emit("Testing", { form: $("#surveyInfo").serialize() });
                        }
                        $("#formbutton").click(function(event){
                            submitbutton();
                            event.preventDefault();
                        });
                     })
                </script>
            <div class="alert" id="results">
            </div>    
        </div>
        
        <div class="main">
            <form id="surveyInfo" class="mainclass" action='/users' method='post'>
                Name: <input type='text' name='name' id="name">
                Dojo Location: 
                <select name=location>
                    <option value="Dallas">Dallas</option>
                    <option value="San Diego">San Diego</option>
                    <option value="Seattle">Seattle</option>
                </select>
                Favorite Language:
                <select name="language">
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="mean">MEAN</option>
                </select>
                Comment (optional): <input type='text' name='comment'>
                <!-- <input type='submit' value='create user'> -->
            </form>
            <button id="formbutton">Submit</button>
        </div>
    </div>
</body>
</html>